<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LogoutCheckerServlet</servlet-name>
        <servlet-class>controller.LogoutCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutCheckerServlet</servlet-name>
        <servlet-class>controller.LogOutCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTableServlet</servlet-name>
        <servlet-class>controller.CreateTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTableServlet</servlet-name>
        <servlet-class>controller.UpdateTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmailSendingServlet</servlet-name>
        <servlet-class>controller.EmailSendingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalServlet</servlet-name>
        <servlet-class>controller.FinalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegisterCheckerServlet</servlet-name>
        <servlet-class>controller.UserRegisterCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminLoginCheckerServlet</servlet-name>
        <servlet-class>controller.adminLoginCheckerServlet</servlet-class>
    </servlet>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp-mail.outlook.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>walkover.project@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>Walkover@123</param-value>
    </context-param>
    <servlet>
        <servlet-name>AdminLoginCheckerServlet</servlet-name>
        <servlet-class>controller.AdminLoginCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>controller.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogoutCheckerServlet</servlet-name>
        <servlet-class>controller.AdminLogoutCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginCheckerServlet</servlet-name>
        <servlet-class>controller.UserLoginCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTableServlet</servlet-name>
        <servlet-class>controller.DeleteTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutCheckerServlet</servlet-name>
        <url-pattern>/LogoutCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutCheckerServlet</servlet-name>
        <url-pattern>/LogOutCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTableServlet</servlet-name>
        <url-pattern>/CreateTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTableServlet</servlet-name>
        <url-pattern>/UpdateTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmailSendingServlet</servlet-name>
        <url-pattern>/EmailSendingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalServlet</servlet-name>
        <url-pattern>/FinalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterCheckerServlet</servlet-name>
        <url-pattern>/UserRegisterCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminLoginCheckerServlet</servlet-name>
        <url-pattern>/adminLoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginCheckerServlet</servlet-name>
        <url-pattern>/AdminLoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogoutCheckerServlet</servlet-name>
        <url-pattern>/AdminLogoutCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginCheckerServlet</servlet-name>
        <url-pattern>/UserLoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTableServlet</servlet-name>
        <url-pattern>/DeleteTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
